body {
    background-image: url("https://images.unsplash.com/photo-1517330283827-2527c57981ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: red;
}
h3 {
    font-family: 'Sofia';
    font-size: 28px;
    text-align: center;
    padding: 10px;
    background-color: ghostwhite;
    color: black;
    border-style: groove;
    border-color: darkgray;
    border-radius: 3px;
}

.mainheading {
    font-family: 'Sofia';
    font-size: 55px;
    text-align: center;
    color: black;
    background-color: crimson;
    border-top: solid, 2px, black;
    border-bottom: solid, 2px, black;
    opacity: 0.88;
}

.maindiv {
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.shop {
    width: 46%;
    float: left;
    padding: 20px;
    border: 1.5px;
    border-color: grey;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.65);
}

.shop02 {
    width: 46%;
    float: right;
    border: 1.5px;
    border-color: grey;
    border-radius: 3px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.65);
}

.itemsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.itemsTable tr:hover {
    background-color: #ddd;
}

table {
    font-family: 'Sofia', cursive;
    background-color: darkgray;
}

td {
    font-family: 'Sofia', cursive;
}

.itemsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding-right: 12px;
    padding-left: 6px;
}

h4 {
    /*font-family: 'Sofia';
    font-size: 30px;*/
}

img {
    width: 100%;
    border: solid, 3px, #476b6b;
}

.description {
    padding: 20px;
    text-align: center;
    font-family: Arial;
    padding: 3px;
}

#purchaseBtn {
    background-color: #555555;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}