@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaeAdviceSingle</title>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="~/Content/AdviceStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h2 class="mainheading"> Advice for single people </h2>
    <div class="selection01">
        <img src="https://www.yourtango.com/sites/default/files/styles/body_image_default/public/image_list/Carl%20Henegan.jpg?itok=dv8gL5h7" style="width:400px;height:340px;opacity:1; border-style:solid; border-width:3px; border-color:black;">
    </div>
    <div class="articles01">
        <h4 style="text-decoration:underline;">Pointers:</h4>

        <p>
            <ul>
                <li>
                    Meet new people.
                </li>
                <li>
                    Get to know yourself on a deep level.
                </li>
                <li>
                    Enjoy where you are in life.
                </li>
                <li>
                    Develop your interests and expand your hobbies.
                </li>
                <li>
                    Foster your relationships.
                </li>
            </ul>
        </p>
    </div>

    <div class="footer01">
        <h4 style="text-decoration:underline;">
            Good reads:
        </h4>
        <p>
            5 Science-backed tips for being single and happy—even if you *really* want a partner.
            <br />
            Emily Laurence
            <br />
            <a class="linkAdvice" href="https://www.wellandgood.com/good-advice/how-to-be-happy-single/">Click here to read...</a>
            <br />
            <br />
            <br />
            How to Be Content in Singleness
            <br />
            Mark Ballenger
            <br />
            <a class="linkAdvice" href="https://applygodsword.com/how-to-be-content-in-singleness/">Click here to read...</a>
            <br />
            <br />
            <br />
            If You Don’t Like Being Single, You Need To Read This
            <br />
            Dr. Carol Morgan
            <br />
            <a class="linkAdvice" href="https://www.huffpost.com/entry/if-you-dont-like-being-single-you-need-to-read-this_b_6294266">Click here to read...</a>
            <br /><br /><br />

        </p>
    </div>
</body>
</html>
