
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BaeAdviceRelationship</title>
    <link href="~/Content/AdviceStyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
</head>
<body>
    <h2 class="mainheading"> Relationship Advice </h2>
    <div class="selection01">
        <img src="https://quotefancy.com/media/wallpaper/1600x900/43477-Stephen-R-Covey-Quote-Trust-is-the-glue-of-life-It-s-the-most.jpg" style="width:415px;height:340px;border-style:solid; border-width:3px; border-color:black;">
    </div>
    <div class="articles01">
        <h4 style="text-decoration:underline;">
            Pointers:
        </h4>
        <p>
            <ul>
                <li>
                    Love yourself. Being comfortable with who you are means you'll be a happier partner.
                </li>
                <li>
                    Get over needing to be right.
                </li>
                <li>
                    Assume that if something was said that hurt your feelings, it wasn’t intended that way.

                </li>
                <li>
                    Compliment often.
                </li>
                <li>
                    Take responsibility for your own happiness.
                </li>
            </ul>
        </p>
    </div>

    <div class="footer01">
        <h4 style="text-decoration:underline;">
            Good reads:
        </h4>
        <p>
            The Relationship Advice No One Ever Tells You—But Should
            <br />
            Ashley Papa
            <br />
            <a class="linkAdvice" href="https://stylecaster.com/top-secret-relationship-advice/">Click here to read...</a>
            <br />
            <br />
            <br />
            The Best Relationship Advice, According to Experts
            <br />
            Korin Miller
            <br />
            <a class="linkAdvice" href="https://www.oprahmag.com/life/relationships-love/a25907941/expert-relationship-advice/">Click here to read...</a>
            <br />
            <br />
            <br />
            Express Your Anger Without Pushing Him Away
            <br />
            Rori Raye
            <br />
            <a class="linkAdvice" href="https://www.eharmony.com/dating-advice/relationships/express-your-anger-without-pushing-him-away/">Click here to read...</a>
            <br /><br /><br />

        </p>
    </div>
</body>
</html>
