@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width" />
    <title>Sign-Up</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <style>
        input {
            border-radius: 5px;
        }

        td {
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
        }

        h1, h2, p {
            color: black;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bae Coach</a>
            </div>
        </div>
    </nav>
    <center>
        <h1 style="font-family:'Ink Free'">Bae my Date?</h1>
        <br />
        <br />
        <h4>Where can I take Bae?</h4>
        <br />
        <h6>Click on the type of date you want to go on with Bae</h6>
    </center>
    <center>
        <div style="margin:auto;" style="font-size:60px">
            <table>
                <tr>
                    <td><input style="width:100%" id="Submit1" type="submit" value="Plan a picnic" class="buttonLogin" /></td>
                </tr>
                <tr>
                    <td><input style="width:100%" id="Submit2" type="submit" value="Visit a museum" class="buttonLogin" /></td>
                </tr>
                <tr>
                    <td><input style="width:100%" id="Submit3" type="submit" value="Have a romantic dinner" class="buttonLogin" /></td>
                </tr>
                <tr>
                    <td><input style="width:100%" id="Submit4" type="submit" value="Go to the Zoo" class="buttonLogin" /></td>
                </tr>
                <tr>
                    <td><input style="width:100%" id="Submit5" type="submit" value="Eat a Dessert-Only Dinner" class="buttonLogin" /></td>
                </tr>
                <tr>
                    <td><input style="width:100%" id="Submit6" type="submit" value="Go for a Hot Air Balloon Ride" class="buttonLogin" /></td>
                </tr>
            </table>
        </div>
    </center>
</body>
</html>
