
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <style>
        label, p {
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="text-align:center;">Welcome to Bae Couch</a>
            </div>
        </div>

    </nav>
    <center>
        <h1 style="font-family: 'Sofia'">Welcome to Bae Couch.</h1>
    </center>
    <br />
    <div style="margin: auto; border:dotted; border-radius: 15px; border-color:white; width:50%; text-align:center">
        <br />
        <label>Email:</label><input id="Text1" type="text" name="email" /><br /><br />
        <label>Password:</label><input id="Text1" type="text" name="password" class="buttonLogin"/><br />
        <div style="text-align:center">
            <input id="Submit1" type="submit" value="Login" />
        </div>
        <br />

    </div>
    <br />
    <div style="text-align:center;">
        <p>Don't have an account?<a href="#" style="color:lightpink">Sign-Up</a></p>
    </div>
</body>
</html>
